<%- include('./includes/head/header');%>
<%- include('./includes/head/navbar');%>
<div class="container body-content">
    <div class="row">
        <%- include('./includes/messages/success'); %>
        <%- include('./includes/messages/errors'); %>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-11 my-4">
                <% if(!user) { %>
                <h1 class="text-center">Seja Bem Vindo a sua Agenda de Contatos Digital</h1>

                <p class="text-center lead">Clique em <b>Login</b> para acessar seus contatos</p>
                <p class="text-center lead">Caso não esteja logado clique em <b>Cadastre-se</b></p>
                


                <%} else{%>
                    <h1 class="text-center">Seja Bem Vindo a sua Agenda de Contatos Digital <%= user.nomeCompleto %></h1>
                    <p class="text-center lead my-3">Clique em <b>Contatos</b> no menu acima para inserir seus contatos</p>
                    <p class="text-center lead">Seus contatos estão abaixo</p>
                    
                <% } %>
            </div>
            <%if(user){%>
                <div>
                    <div class="table-responsive text-center" >
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(contatos.length > 0){%>
                                <% contatos.forEach(contato =>{%>
                                <tr>
                                    <td><%= contato.nome%></td>
                                    <td><%= contato.sobrenome%></td>
                                    <td><%= contato.email%></td>
                                    <td><%= contato.telefone%></td>
                                    <td><a class="btn btn-red btn-lg btn-primary mb-3" href="/contatos/<%=contato._id%>" role="button">Editar</a></td>
                                    <td><a class="btn btn-primary btn-lg btn-primary mb-3" href="/contatos/delete/<%=contato._id%>" role="button">Excluir</a></td>
                                </tr>
                                <%});%>
                                <%}else{%>
                                    <%- include('./includes/messages/errors'); %>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <%}%>
            
        </div>
    </div>
</div>
 <%- include('./includes/footer/footer');%>